body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 5rem;
}

#letterF,
#letterM {
    display: inline-block;
    transition: transform 0.5s;
    font-family: "Roboto Slab", sans-serif;
    font-size: 15vw;
    font-style: normal;
}


#spacer {
    height: 80vh;
}

#intro {
    font-family: "Roboto Slab", serif;
    font-size: 10vh;
}