body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFA500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: auto;
    text-align: left;
    padding: 30px;
    color: #202020;
    max-width: 600px;
}

.name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15vh;
    font-weight: bold;
    margin-top: 0;
    line-height: 0.8;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, .2);
}

.description {
    font-family: "Roboto", sans-serif;
    font-size: 2.6vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 4px
}

.hey {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2.4vh;
    margin-bottom: 1vh;
}

.work {
    font-family: "Roboto", sans-serif;
    font-weight: 4;
    font-size: large;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    background-color: #202020;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
    padding: 1px 6px;
    margin: 10px 0;
    display: inline-block;
    width: 115px;
    text-align: left;

}